.navbar-1{
    background-image: linear-gradient(to bottom left,#14572A,#00923F);
}

.navbar-2{
    position: absolute;
    width: 29%;
    margin-top: 0%;
    background: #14572A;
    height: 30px;
    color: #FFFFFF;
}

.navbar-2 h5{
  font-family: helveticalight!important;
    text-align: center;
    font-size: 11pt;
    margin-top: 7px;
}

.primer {
  align-items: flex-end;
}

#menu {
  background-color: #FBB03B;
  float: left;
  height: 30px;
  margin-left: 30%;
  position: relative;
  font-size: 11px;
  width: 70%;
}

#menu ul {
  list-style:none;
  margin:0;
  padding:0;
 }

 #menu ul a {
  display:block;
  color:#fff;
  text-decoration:none;
  font-weight:200;
  font-size:13px;
  font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing:1px;
 }

 #menu ul li {
  float:left;
  margin:0;
  padding:0;
 }

 #menu ul li:hover {
  background-color: #FBB03B;
 }

 #menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background-color: #FBB03B;
  padding:0;
 }

 #menu ul ul li {
  float:none;
  width:150px
 }

 #menu ul ul a {
  line-height:120%;
  padding:10px 15px;
 }

 #menu ul li:hover > ul {
  display:block;
 }
