<br>
<br>

<div class="container">
  <div class="titulo1">
    <h5>  Asignatura: SEMINARIO DE COMPUTAC. E INFORMATICA II   Tipo: PRÁCTICA   Grupo: 1</h5>
  </div>

  <div class="tabla">
    <div class="titulo">
      Registro de actividades evaluativas
      <button class="btn btn-sm">Descargar Informe</button>
      <button class="btn btn-sm">Descargar Boletin general</button>
      <button class="btn btn-sm">Descargar Boletin definitivo</button>
    </div>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Estudiante</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Sergio Gómez</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Manual Arellano</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Maria Rodriguez</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Nicolas Orjuela</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Maria Rodriguez</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Maria Rodriguez</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
